@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: var(--font-sans);
    color: var(--text-color);
    line-height: 1.6;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-mono);
    font-weight: 700;
    margin-bottom: var(--spacing-md);
}

p {
    margin-bottom: var(--spacing-md);
}



/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
}